html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  background-image: url('../image/head.jpg');
  height: 80px;
}

section #map {
  background-color: rgb(59, 56, 56);
}

#map {
  margin-top: 0px;
  margin-left: auto !important;
  margin-right: auto !important;
  width: 604px;
  height: 604px;
  position: relative;
  border: 2px solid rgb(199, 140, 13);
  background-image: url('../image/head.jpg');
  background-size: cover;
}

.grid {
  width: 60px;
  height: 60px;
  float: left;
  border: 1px solid rgb(253, 255, 255);
  border-color: #bbdefa;
  box-shadow: 0 0 10px #9ecaed;
  border-radius: 20px;
  z-index: 5;
}

.sword {
  background-image: url('../image/sword.png');
  background-repeat: no-repeat;
}

.gun {
  background-image: url('../image/gun.png');
  background-repeat: no-repeat;
}

.dagger {
  background-image: url('../image/dagger.png');
  background-repeat: no-repeat;
}

.bow {
  background-image: url('../image/bow.png');
  background-repeat: no-repeat;
}

/* .player1 {
  background-image: url('../image/player1.png');
  background-repeat: no-repeat;
}
.player2 {
  background-image: url('../image/player2.png');
  background-repeat: no-repeat;
} */
.obstacle {
  background-image: url('../image/obstacle.png');
  background-repeat: no-repeat;
}

.range {
  border-radius: 10px;
  border: 2px solid;
  box-shadow: 0 0 10px rgb(99, 89, 89);
  cursor: pointer;
  z-index: 5;
  border-color: #eeda27;

  /* animation-name: flash;
   animation-duration: 0.2s;
   animation-timing-function: linear;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   animation-play-state: running; */
}

/* @keyframes flash {
  from {
    color: rgb(255, 255, 255);
  }

  to {
    color: rgb(250, 236, 49);
  }
} */
.player1Moving {
  background-image: url("../image/player1.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

.player2Moving {
  background-image: url("../image/player2.png");
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */
}

#player2weapons {
  height: 100px;
  width: 100%;
}

#player1weapons {
  height: 100px;
  width: 100%;

}

.minicircle {
  background: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: rgb(240, 245, 241);
  line-height: 50px;
  text-align: center;
  position: relative;

  border: 4px solid #0f8b04;

}

.minicircle-damage {
  background: rgb(255, 255, 255);
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: rgb(240, 245, 241);
  line-height: 50px;
  text-align: center;
  position: relative;
  border: 5px solid #b31515;

}

.map {
  background-image: url('../image/Forest-31.jpg');
  max-height: 607px;

}
.player-image{
  max-width: 250px;
  max-height: 250px;
}
